[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
werkzeug = "*"
"psycopg2-binary" = "*"
sqlalchemy = ">=1.3.0"
gunicorn = "*"
graphene-sqlalchemy = "*"
graphene = "*"
flask-graphql = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
pytest-flask-sqlalchemy = "*"
pluggy = "*"
pytest-dotenv = "*"
Jinja2 = ">=2.10.1"

[requires]
python_version = ">=3.6.2"
