[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
werkzeug = "*"
"psycopg2-binary" = "*"
sqlalchemy = "*"
python-dotenv = "*"
gunicorn = "*"
graphene-sqlalchemy = "*"
graphene = "*"
flask-graphql = "*"

[requires]
python_version = "3.6.*"
